@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error">
    <div class="error-body">
        <h1 class="error-heading" style="text-align:center;">NO CUENTA CON ROLES</h1>
        <h4 class="error-subheading" style="text-align:center;">¡Parece que algo salió mal!</h4>
        <br />
        <p>
            <h5 style="text-align:center">Falta extablecer roles para mostrar las opciones del sistema si el error persiste, favor comunicarse con OGTI </h5>
        </p>
        <br />
        <br />
        <p style="text-align:center"><a class="btn btn-primary btn-pill btn-thick" href="@ViewBag.UrlIntranet">Retornar a login</a></p>
    </div>

</div>
